@import url(fonts.css) all;
@import url(grid.css) all;
body {
  font-family: "Droid Sans", sans-serif;
  font-size: 13px;
  background: #374e70 url(/img/frbg.png) repeat-x center top;
  color: white;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-family: "RaveIn Condensed", "Avenir Condensed", Avenir, Prelude, sans-serif; }

h1 {
  font-size: 150%; }

h2 {
  font-size: 140%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 120%; }

h5 {
  font-size: 110%; }

a {
  color: #f57900; }
  a:hover {
    color: #ff9100; }
  a:active {
    color: white; }

#logo a {
  text-indent: -200em;
  display: block;
  width: 130px;
  height: 70px;
  border: 0;
  background: url(/img/logo.png) no-repeat 0 0;
  outline: none; }

#mainmenu {
  display: block;
  list-style: none;
  text-align: right;
  margin: 38px 0 0;
  font-weight: bold; }
  #mainmenu li {
    display: inline-block; }
    #mainmenu li a {
      font-family: "RaveIn Condensed", "Avenir Condensed", Avenir, Prelude, sans-serif;
      text-decoration: none;
      font-size: 130%;
      margin-left: 1em; }

#splash img {
  display: block;
  width: 100%;
  height: inherit;
  margin: 0; }
#splash .subtitle {
  background-color: #3c3c3c;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px; }
  #splash .subtitle h3 {
    font-size: 100%;
    margin: 0 0 1em; }
  #splash .subtitle p {
    font-size: 80%;
    color: #888a85; }

#content {
  min-height: 400px; }
