@import url(fonts.css) all
@import url(grid.css) all


$bodyfg: #fff
$bodybg: #374e70
$select: #f57900
$text: 'Droid Sans', sans-serif  
$headline: 'RaveIn Condensed', 'Avenir Condensed', Avenir, Prelude, sans-serif

=border-radius($radius)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

=border-radius-bottom($radius)
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius
  -moz-border-radius-bottomleft: $radius
  -moz-border-radius-bottomright: $radius
  -webkit-border-bottom-left-radius: $radius
  -webkit-border-bottom-right-radius: $radius

=colorgradient($from, $to)
  color: -moz-linear-gradient(0% 100% 90deg, $from, $to)
  color: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))
  
body
  font-family: $text
  font-size: 13px
  background: $bodybg url(/img/frbg.png) repeat-x center top
  color: $bodyfg
  margin: 0
  padding: 0

h1,h2,h3,h4,h5
  font-family: $headline

h1
  font-size: 150%
h2
  font-size: 140%
h3
  font-size: 130%
h4
  font-size: 120%
h5
  font-size: 110%

a
  color: $select
  &:hover 
    color: $select * 1.2
  &:active
    color: #fff
    

#logo
  a
    text-indent: -200em
    display: block
    width: 130px
    height: 70px
    border: 0
    background: url(/img/logo.png) no-repeat 0 0
    outline: none

#mainmenu
  display: block
  list-style: none
  text-align: right
  margin: 38px 0 0
  font-weight: bold
  li
    display: inline-block
    a
      font-family: $headline
      text-decoration: none
      font-size: 130%
      margin-left: 1em

#splash
  img
    display: block
    width: 100%
    height: inherit
    margin: 0
  .subtitle
    background-color: #3c3c3c
    padding: 20px
    +border-radius-bottom(10px)
    h3
      font-size: 100%
      margin: 0 0 1em
    p
      font-size: 80%
      color: #888a85
#content
  min-height: 400px

