.toc > ul {
    list-style-type: decimal;
}
.toc > ul > li {
    margin-top: 0;
}
.toc li ul {
    margin-bottom: 1rem;
}
.toc > ul > li > ul {
list-style-type: upper-alpha;
}
.toc > ul > li > ul > li > ul {
list-style-type: lower-roman;
}

table {
max-width: 40rem;
font-size: 0.85rem;
margin: 1rem auto;
}
table td {
    padding: 0.25rem;
    border: solid 1px #eee;
}
