.MenuCmd { text-align: center; margin-bottom: 1em;}
.MenuCmd > span { font-size: 1.1em; border: dashed 1px gray; padding: 0.2em 1em; background-color: #222; }
u { text-decoration: underline; }

.caption {text-align: center; margin-bottom: 1em;}
.caption img {margin-bottom: 0.3em;}

figure { text-align: center; }

p.color-ex { text-align: center; padding: 1em 0; margin: 0 auto; }

.aside { border: dashed 1px; padding: 0.5rem; }
.Cmd { text-align: center; display: block; }

figure > img { max-width: 100%; height: auto; }
