<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/images/wilber16.png" type="image/png" />
        {# SITEURL gets odd when using i18n, using better paths just below
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/gimp.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome-4.4.0/css/font-awesome.min.css" />
        #}
        <link rel="stylesheet" type="text/css" href="/theme/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/gimp.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/font-awesome-4.4.0/css/font-awesome.min.css" />


        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body id="index" class="home">

        <nav id="menu" >
            <ul>
                <li id='gimp-home'><a href="/"><img src='/images/wilber-tiny.png'> GIMP</a></li>
                <li><a href="/downloads/"><i class="fa fa-download"></i> Download</a></li>
                <li><a href="/news/"><i class="fa fa-newspaper-o"></i> News</a></li>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                {% if p.parents|length == 1 %}
                  <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
                {# The old way...
                  {% if not p.parent %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endif %}
                #}
              {% endfor %}
            {% else %}
              {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                  <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
              {% endif %}
            {% endif %}

            </ul>
            <i class="fa fa-chevron-up" id='nav-up'></i>
        </nav><!-- /#menu -->

        <a id="navel" href="#bottom-nav" ><i class="fa fa-bars"></i></a>

    <div id="pushPage">

        {% block header %}
        {% endblock header %}

        
        {% block content %}
        {% endblock %}

        <footer id="contentinfo" class="body">
            <div class="container">
                <div class="row clearfix">
                    <div class="column third">
                        <ul class="nav-bottom" id='bottom-nav'>
                            <li id='nav-btm-gimp-home'><a href="/"><img src='/images/wilber-tiny.png'> GIMP</a></li>
                            <li id="nav-btm-downloads"><a href="/downloads/"><i class="fa fa-download fa-fw"></i> Download</a></li>
                            <li id="nav-btm-news"><a href="/news/"><i class="fa fa-newspaper-o fa-fw"></i> News</a></li>
                        {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                          {% for p in PAGES %}
                            {% if p.parents|length == 1 %}
                              <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                            {% endif %}
                            {# The old way...
                              {% if not p.parent %}
                                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                              {% endif %}
                            #}
                          {% endfor %}
                        {% else %}
                          {% if DISPLAY_CATEGORIES_ON_MENU %}
                            {% for cat, null in categories %}
                              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                            {% endfor %}
                          {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                    </div> 
                <div class="row clearfix bottom">
                    <div class="column half flow-opposite">
                        <a href="/news.rdf">GIMP News Feed</a> | <a href="/webmasters.html">Contacting Us</a>
                    </div>
                    <div class="column half">
                        &copy; 2001-2015 <a href="/team.html">The GIMP Team</a>
                    </div>
                </div>
            </div>
        </footer><!-- /#contentinfo -->

    </div>

    <script src="/js/push-menu.js"></script>

</body>
</html>
