{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

    <link rel='stylesheet' type='text/css' href="{{ SITEURL }}/theme/css/article.css" />

{% endblock head %}

{% block content %}

<section id="content" class="body">
    <div class='container'>
        <div class='row clearfix'>
            <div class='column full'>
                {# <header> #}

                    <h2 class="entry-title">
                      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                 {% import 'translations.html' as translations with context %}
                 {{ translations.translations_for(article) }}

                 {# </header> #}

                  <div class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}">
                      {{ article.locale_date }}
                    </abbr>
                    {% if article.modified %}
                    <abbr class="modified" title="{{ article.modified.isoformat() }}">
                      {{ article.locale_modified }}
                    </abbr>
                    {% endif %}
                    {% if article.authors %}
                    <address class="vcard author">
                      By {% for author in article.authors %}
                          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                        {% endfor %}
                    </address>
                    {% endif %}
                  </div><!-- /.post-info -->

                  <div class="entry-content">
                    {{ article.content }}
                  </div><!-- /.entry-content -->

                  <div>
                      <h2>Current Drafts</h2>
                      <ul>
                          {% for draft in drafts %}
                          <li><a href="{{ SITEURL}}/{{ draft.url }}">{{ draft.title }}</a></li>
                          <small>{{ draft.url }}</small>
                          {% endfor %}
                      </ul>
                  </div>
                  <hr/>
                  <div>
                      <h2>All News Items</h2>
                      <p>
                          Testing all_articles...<br/>
                          <ul>
                          {% for article in all_articles %}
                          <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.url }}</a></li>
                          {% endfor %}
                          </ul>
                      </p>
                  </div>
              </div>
          </div>
      </div>
</section>

{% endblock content %}
