{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href="{{ SITEURL }}/theme/css/index.css" />
{% endblock head %}


{% block header %}
<header id="banner" class="body clearfix">
            <div class="container">
                <div class="intro row">

                    <img id='WilberLogo' src="{{ SITEURL }}/theme/images/wilber-big.png" alt="GIMP Wilber" width='200' height='150'/>
                    <h1>
                        <a href="{{ SITEURL }}/">GIMP</a>
                        {#<a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a> #}
                        {# <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/images/wilber-big.png" alt="GIMP Wilber"/>{{ SITENAME }}</a> #}
                    </h1>
                    <div class='introInfo'>
                        <span id='gFirst'>GNU IMAGE (EEK)</span>
                        <span id='gSecond'>MANIPULATION PROGRAM</span>
                        <span id='gThird'>
                            <a href="/downloads/">
                                <span id="DLButton"><i class="fa fa-download"></i> DOWNLOAD</span>
                            </a>
                            <span id="ReleaseButton">RELEASE NOTES</span></span>
                    </div>
                </div>
            </div>
        </header><!-- /#banner -->

{% endblock header %}

    
{% block content %}

    <section id='introduction'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column two-thirds'>
                    <h2>The Free &amp; Open Source Image Editor</h2>
                    {# <h2>This is the official GIMP website</h2> #}
                    <p>
                        This is the official GIMP website.
                        It contains information about downloading, installing, using, and enhancing it. 
                        This site also serves as a distribution point for the latest releases. 
                        We try to provide as much information about the GIMP community and related projects as possible.
                        Hopefully you will find what you need here.
                        Grab a properly chilled beverage and enjoy...
                    </p>
                    <p>
                        <b>I feel that this section should tell a visitor exactly <em>what</em> GIMP is, what it does, as well as how to get it.</b>
                    </p>
                </div>

                <div class='column third' style="background-color: white; margin-left: 10px; margin-right: -10px; padding: 1rem; box-shadow: rgba(127,127,127,1) 2px 2px, rgba(127,127,127,1) 3px 3px, rgba(127,127,127,1) 4px 4px, rgba(127,127,127,1) 5px 5px, rgba(127,127,127,1) 6px 6px;">
                    <h2 style="color: red;">STILL WORKING</h2>
                    <p style='font-size: 0.85rem;color: red;'>
                        I am still in the process of building this site out.  Things are in a great state of flux.  For further information on building the new site refer to the <a href="/about/meta">Meta</a> page.
                    </p>
                </div>


            </div>
        </div>
    </section>

    <section id='cap-photos'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column third'>
                    &nbsp;
                </div>
                <div class='column two-thirds'>
                    <h3>High Quality Photo Manipulation</h3>
                    <p>
                        GIMP provides the tools for needed for high quality image manipulation.
                        From retouching to creative composites, the only limit is your imagination.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section style='background: repeating-linear-gradient(-45deg, transparent, transparent 40px, rgba(166,166,166,.07) 40px, rgba(166,166,166,.07) 80px);'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column full'>
                    <h2>Temporary Stuff Below Here</h2>
                    <p>
                        The content below this section is almost entirely for testing the build system and article parsing.
                        Disregard the formatting/content unless specifically addressing something that was asked about.
                        (Like, do those dates look funny to you?)
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="articles">
        {#
        {% block content_title %}
            <h2>Recent News</h2>
        {% endblock %}

        
        {# original stuff ...
        <ol id="post-list">
        {% for article in articles_page.object_list %}
                <li><article class="hentry">
                        <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                        <footer class="post-info">
                            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                            <address class="vcard author">By
                            {% for author in article.authors %}
                                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                            </address>
                        </footer><!-- /.post-info -->
                        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                </article></li>
        {% endfor %}
        </ol><!-- /#posts-list -->
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
        #}

    </section><!-- /#content -->

{% endblock content %}
