.entry-content {
    text-align: left;
    color: #666;
}

.entry-content p {
    max-width: 34rem;
    margin-top: 1rem;
    color: #777;
}

.entry-content ul {
    max-width: 33rem;
    margin: 1rem auto;
    display: block;
}
