.entry-content {
    text-align: left;
    color: #666;
}

.entry-content p {
    max-width: 34rem;
    margin-bottom: 1rem;
    color: #777;
    color: #555;
}

.entry-content ul {
    max-width: 33rem;
    margin: 1rem auto;
    display: block;
}

.post-info {
    border-bottom: 1px dotted;
    display: inline-block;
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 1.5rem;
}

abbr[title] {
    border: none;
}

.vcard.author {
    display: inline;
}

body {
    background-color: #0e2426;
}

#pushPage {
    background-color: white;
}

figure {
    display: table;
    margin: 1rem auto;
}

figure img {
    width: initial;
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {

    max-width: 35rem;
    margin: 0 auto;
}

.entry-content p + h1,
.entry-content p + h2,
.entry-content p + h3,
.entry-content p + h4,
.entry-content p + h5,
.entry-content p + h6 {
    margin-top: 2rem;
}

figure figcaption {
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.3rem;
    display: table-caption;
    caption-side: bottom;
    font-weight: 300;
}

.column.full.social p {
    max-width: 34rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-align: right;
}
