/* @import url(http://fonts.googleapis.com/css?family=Lato:300,400);
 */

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
 */


/*
 * Used as the navigation font
@font-face {
    font-family: "Lato";
    src: url('/theme/fonts/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/* Questrial
Used as Heading font 
 */
/*
@font-face {
    font-family: 'Questrial';
    src: url('/theme/fonts/Questrial-Regular.ttf');
}
*/

/* Using Google Fonts for now */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300|Lato:300|Questrial);

/* League Gothic Regular */
/* Also only used on the main page
 * for the GIMP title at the moment */
@font-face {
    font-family: 'League Gothic';
    src: url('/theme/fonts/leaguegothic-regular-webfont.eot');
    src: url('/theme/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('/theme/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/theme/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/theme/fonts/josefinsans-regular-webfont.eot');
    src: url('/theme/fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('/theme/fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('/theme/fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('/theme/fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Ostrich Sans Rounded */
/* Only used on the main page?
 * may have to move this to only the index.css */
@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('/theme/fonts/ostrich-sans-rounded.eot');
	src: local('☺'), url('/theme/fonts/ostrich-sans-rounded.woff') format('woff'), url('/theme/fonts/ostrich-sans-rounded.ttf') format('truetype'), url('/theme/fonts/ostrich-sans-rounded.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


html {
    font-family: "Open Sans", sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans;
    font-weight: 400;
    font-family: Questrial, sans;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-weight: 300;
    /*
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    */

    /*
     word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
            */

}

nav#menu {
    background-color: #0e2426;
    text-align: center;
    padding: 0.2rem 0;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1rem;
    font-size: 0.85rem;
    padding: 0.2rem 0.5rem;
    font-family: "Josefin Sans", Lato, "Open Sans", sans-serif;
    /* per jimmac */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    padding: 0.5rem;
}

nav#menu ul, nav#menu ul li {
    padding: 0;
    display: inline;
}

nav#menu ul > li {
    margin-left: 1.5rem;
}

nav#menu ul > li:first-of-type {
    margin-left: 0;
}

nav#menu ul > li a{
    color: #ecf0f1;
}

header a {
    color: #497bad;
}

figure {
    margin: 1rem 0;
}

#gimp-home img {
    width: initial; 
    margin: 0;
    display: inline;
    vertical-align: text-top;
}

.codehilitetable {
    margin: 1rem auto;
    font-size: 0.8rem;
    max-width: 34rem;
    width: 34rem;
}

.codehilite {
    font-size: 0.8rem;
    max-width: 34rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border: solid 1px #ddd;
    border-radius: 3px;
}

.codehilite pre {
    margin: 0;
}

.MenuCmd {
    text-align: center;
    margin: 1.5rem;
}

.MenuCmd > span {
    padding: 0.25rem 1rem;
    border: solid 1px #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}

img {
    display: initial;
    height: initial;
    margin: 0;
    width: initial;
    max-width: 100%;
}

dl {
    max-width: 34rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

dd {
    font-weight: 300;
}


.fluid-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluid-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ol > li > ol {
    list-style-type: upper-alpha;
}

ol > li > ol > li > ol {
    list-style-type: lower-roman;
}


footer {
    padding: 3rem 0;
    background-color: #0e2426;
    color: silver;
    box-shadow: inset 0 7px 15px -5px black;
}

footer .nav-bottom a {
    font-family: Lato;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "Josefin Sans", Lato, "Open Sans", sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.nav-bottom {
    list-style-type: none;
}

.row.bottom {
    text-align: center;
    color: silver;
    margin-top: 2rem;
    font-size: 0.85rem;
}

.row.bottom a {
    color: #f57900;
}

#nav-btm-gimp-home {
    margin-left: -1.65rem;
}

#nav-btm-downloads {
    margin-left: -1.5rem;
}

#nav-btm-news {
    margin-left: -1.5rem;
}

@media ( max-width: 40rem ){

    ul.nav-bottom {
        text-align: center;
        padding-left: 0;
    }

    ul.nav-bottom li {
        border-top: dotted 1px #333;
    }

    ul.nav-bottom li:first-of-type {
        border-top: none;
    }

    ul.nav-bottom a {
        display: block;
        padding: 1rem 0;
    }

    #nav-btm-gimp-home {
        margin-left: 0;
    }

    #nav-btm-downloads {
        margin-left: 0;
    }

    #nav-btm-news {
        margin-left: 0;
    }
}



/* Working on responsive/mobile styling here
 */
@media ( max-width: 40rem ){

    nav#menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        z-index: 5;
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        -moz-transition: -moz-transform 0.25s ease-in-out;
        -o-transition: -o-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    nav#menu.show {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        box-shadow: 0 -10px 10px 10px rgba(0,0,0,0.85);
    }

    nav#menu.hide {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        box-shadow: none;
    }

    #menu ul {
        text-align: center;
        background-color: #0e2426;
    }

    nav#menu ul li {
        display: block;
        font-size: 1rem;
        margin-left: 0;
        /*
        letter-spacing: 0.1rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        */
    }

    nav#menu ul li a {
        display: block;
        letter-spacing: 0.1rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    #menu ul a#navel {
        font-size: 2rem;
        color: gray;
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        background-color: transparent;
        position: absolute;
        color: white;
        text-shadow: 1px 1px black, 
                        1px -1px black, 
                        -1px -1px black, 
                        -1px 1px black;
    }
}


@media ( min-width: 40rem ){
    #menu ul a#navel {
        display: none;
    }
}
