.page_content {
    text-align: left;
    padding-top: 0;
}

.page_content h1,
.page_content h2,
.page_content h3,
.page_content h4,
.page_content h5,
.page_content h6 {
    max-width: 35rem;
    margin: 0 auto;
}

.page_content ul, .page_content ol {
    max-width: 33rem;
    margin: 0 auto;
    display: block;
    color: #555;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

li {
    margin-bottom: 1rem;
    margin-bottom: 0.5rem;
}

.page_content p {
    max-width: 34rem;
    margin-bottom: 1rem;
    color: #555;
}

.page_content blockquote {
    border: solid 1px #ccc;
    margin: 0 auto;
    max-width: 34rem;
    padding: 0.6rem;
    border-left: solid 3px #666;
    margin-bottom: 1rem;
}

.page_content blockquote p {
    margin-bottom: 0;
}

figure {
    display: table;
    margin: 1rem auto;
}

figure img {
    width: initial;
    max-width: 100%;
    /* margin-bottom: 0.5rem;
     */
}

figure figcaption {
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.3rem;
    display: table-caption;
    caption-side: bottom;
    font-weight: 300;
}

.cc-badge {
    border-width: 0;
    width: initial;
    display: inline;
    margin: 0;
    vertical-align: middle;
}

.container.title {
    box-shadow: 0 8px 6px -7px #ddd;
    margin: 1.5rem auto;
    max-width: 37rem;
    text-align: center;
}

.container.title h1 {
    margin-bottom: 0;
}

.toc li {
    margin-bottom: 0;
}

.toc li ul {
    margin-bottom: 0;
}
